// Navigation code here

nav{
    .custom-layout(column, space-between, center);
    margin:1.3rem 0rem;
    height:7.5rem;

    h1{
        font-size:4rem;
      }

        .nav-item{
            width:40.75rem;

                .link-container{
                    .custom-layout(row, space-around, center);  
                    font-size:1.6rem;
                
        
                        .menu-links{
                            text-decoration: none;
                            color:@river-bend;
                        }
                }
        }
        
}
