// Navigation code here
html{
    font-size:62.5%;
}
h1{
    font-size:4rem;
}
nav{
    .custom-layout(column, space-between, center);
    margin:1.3rem 0rem;
    height:7.5rem;

        .nav-item{
            width:40.75rem;

                .link-container{
                    .custom-layout(row, space-around, center);  
                    font-size:1.6rem;
                
        
                        .menu-links{
                            text-decoration: none;
                            color:@river-bend;
                        }
                }
        }
        
}
.btn{
    .btn-design(#22283A, #fff, none, 0.9rem, 2.25rem, 1.25rem, 0.5rem);
}